// default
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
// usage _> font-family: 'Montserrat', sans-serif;

// Multi-step-from
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
// usage -> font-family: 'Ubuntu', sans-serif;
