@tailwind base;
@tailwind components;
@tailwind utilities;

@import './reset.scss';
@import './fonts.scss';

html {
  font-family: 'Montserrat', sans-serif;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: #ffffff #0f172a;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 2px;
}

*::-webkit-scrollbar-track {
  background: #0f172a;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 3px;
  border: 3px solid #ffffff;
}